body {
    margin-top: 75px;
    line-height: 23px;
    font-size: 15px;
}

.post-content, .page-content {
    margin-bottom: 20px;
}

.fa-rss {
    background-color: #F4B83F;
    color: #fff;
}

footer {
    margin: 10px 0;
}
