body {
    margin-top: 75px;
}

.sidebar.col-md-4 {
    width: 30%;
}

.main-content.col-md-8 {
    width: 70%;
}

.post-content, .page-content, .main-content {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.6;
}

.fa-rss {
    background-color: #F4B83F;
    color: #fff;
}

footer {
    margin: 10px 0;
}
