<!-- Footer -->
<footer>
    <div class="container">
        <hr/>
        <p class="text-center">Published by <strong>BloggerCMS</strong>!</p>
    </div>
</footer>

<!-- Jquery and Bootstrap Script files -->
<script src="{{settings.url}}/js/jquery-2.0.3.min.js"></script>
<script src="{{settings.url}}/js/plugins/bootstrap-3.0.3/js/bootstrap.min.js"></script>
<script src="{{settings.url}}/js/blog.js"></script>

<!-- for sharethis -->
<script type="text/javascript">var switchTo5x = true;</script>
<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({
    publisher: "18a13a28-cab8-4bb2-9a13-25708fa3cd9b",
    doNotHash: false,
    doNotCopy: false,
    hashAddressBar: false
});</script>

</body>
</html>